{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block form_row %}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}

    <div class="form-group row">
        {{- form_label(form, null, {label_attr: { class: 'col-sm-4 col-form-label' }}) -}}
        <div class="col-sm-8">
            {{- form_widget(form, {'attr': {'class': 'form-control'}}) -}}
        </div>
        {{- form_help(form) -}}
    </div>
    {{- form_errors(form) }}
{% endblock %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <span class="formErrorMessage"> {{  error.messageTemplate|trans(error.messageParameters, 'validators') }}</span><br/><br />
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col col-md-8">
                <div class="card profileCard">
                    <div class="card-header text-center">
                        <h2 class="card-title d-inline align-middle">Modifier mes informations</h2>
                    </div>
                    <div class="card-body">
                            <div class="row align-items-center text-center" id="profileSection" data-defaultpicture="{{ asset('images/default_cover.jpg') }}">
                                <div class="col-md-6">
                                    <img class="img-fluid rounded profilePictureClass" src="{% if app.user.profilePicture == "" %}{{ asset('images/default_cover.jpg') }}{% else %}{{ app.user.profilePicture.path }}{% endif %}" title="Votre photo de profil" />
                                </div>
                                <div class="col-md-6" id="userInfos">
                                    <h3><b>{{ app.user.username }}</b></h3><br />

                                    {{ form_start(form) }}
                                    {{ form_widget(form) }}

                                    <p><i class="fas fa-envelope"></i> {{ app.user.email }}</p>
                                </div>
                            </div>
                            {{ form_errors(form) }}
                            <hr />
                            <div class="form-group row justify-content-center">
                                <button type="submit" class="btn btn-info btn-circle"><i class="fas fa-check fa-2x"></i></button>
                            </div>
                        {{ form_end(form) }}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('js/editProfile.js') }}"></script>

{% endblock %}