{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    {{ parent() }}

        <div class="row no-gutters cover" style="background-image:url('{{ asset('images/cover.jpg') }}')">
        <span class="text-home  d-none d-sm-none d-md-block">Bienvenue sur SnowTricks, LE site communautaire 100% snowboard !</span>
        <span class="text-homeMobile  d-block d-md-none">SnowTricks, LE site communautaire 100% snowboard !</span>
        <a href="{{ path('home_page') }}#tricksList" class="arrowHome" title="Voir les figures">
            <span class="arrow-home">
                <i class="fas fa-chevron-circle-down fa-5x  d-none d-sm-none d-md-block"></i>
            </span>
            <span class="arrow-homeMobile">
                <i class="fas fa-chevron-circle-down fa-3x  d-block d-md-none"></i>
            </span>
        </a>
    </div>

    <div id="tricksList" data-defaultcover="{{ asset('images/default_cover.jpg') }}" {% if is_granted('ROLE_USER') %} data-loggedin="true" {% else %} data-loggedin="false" {% endif %}>
    {% if tricks == "" %}
        <div class="row justify-content-center align-items-center col-md-4 offset-md-4 card text-center text-white rounded">
            <p><br /><i class="far fa-meh-rolling-eyes fa-5x"></i></p>
            <div class="card-body">
                <div class="row">
                    <p><b>Aucune figure n'a pour le moment été ajoutée !<br /> Qu'attendez-vous pour contribuer ?<br /><a href="{{ path('trick_add') }}" title="Publier une figure">Cliquez ici</a> pour publier une nouvelle figure.</b></p>
                </div>
            </div>
        </div>
    {% else %}
        {% for trick in tricks %}

             {% if (loop.index0 % 5) == 0 %}
             <div class="row justify-content-around">
            {% endif %}
            <div class="col-lg-2 card h-100 rounded">

                <!-- si on a aucune image associée à la figure alors on affiche l'image par défault, sinon on affiche la première image enregistrée en bdd pour ce trick -->
                <img src="
                {% if ((trick.pictures | length) == 0) %} {{ asset('images/default_cover.jpg') }}
                {% else %} {%  for picture in trick.pictures %} {% if loop.first %}{{ asset(picture.path) }}{%  endif %} {% endfor %}
                {% endif %}
                " class="card-img-top border-bottom border-dark" alt="{{ trick.name }}">

                <div class="card-body">
                    <div class="row">
                        <div class="col col-xs-8 col-sm-12 col-md-7" id="urlViewTrick"><a href="{{ path('trick_view', {'trickId': trick.id}) }}" title="Accéder aux détails de la figure">{{ trick.name }}</a></div>
                        {% if is_granted('ROLE_USER') %}<div class="col col-xs-4 col-sm-12 col-md-5 text-right" id="urlEditTrick"><a href="{{ path('trick_edit', {'trickId': trick.id}) }}" title="Modifier la figure"><i class="fas fa-pen-fancy"></i></a> <a href="" data-deletepath="{{ path('trick_delete', {'trickId': trick.id}) }}" data-toggle="modal" data-target="#deleteConfirmModal" title="Supprimer la figure"><i class="fas fa-trash-alt"></i></a></div>{% endif %}
                    </div>
                </div>
            </div>
            {% if (loop.index % 5) == 0 %}
            </div>
            {% endif %}

            {% if loop.index == tricks|length %}
                </div>
            {% endif %}
        {% endfor %}

        {% if tricks|length == 15 %}
            <div class="row justify-content-center" id="divShowMore">
                <button class="btn btn-info" id="showMore" data-path="{{ path('get_more_tricks') }}">Voir plus</button>
                <button class="btn btn-info" id="showMoreGif" style="display:none;"><i class="fas fa-stroopwafel fa-spin fa-2x"></i></button>
                <input type="text" id="showMoreOffset" value="15" style="display: none;"/>
            </div>
        {% endif %}

    {% endif %}
    </div>

    <div class="row" id="divArrowUp" style="display:none;">
            <!-- Flèche qui permet de remonter vers le haut de la section "figures" s'il y a plus de 15 figures affichées -->
            <a href="{{ path('home_page') }}#tricksList" class="arrowHome" title="Remonter en haut">
                <span class="arrow-homeUp">
                    <i class="fas fa-chevron-circle-up fa-3x  d-none d-sm-none d-md-block"></i>
                </span>
                <span class="arrow-homeMobileUp">
                    <i class="fas fa-chevron-circle-up fa-2x  d-block d-md-none"></i>
                </span>
            </a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/showMoreHome.js') }}"></script>
{%  endblock %}