{% extends 'base.html.twig' %}

{% block title %}Publier une figure{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div id="trickDetails" class="row justify-content-center align-items-center">
            <div class="col col-md-8 text-center">
                <div class="card loginCard">
                                     <div class="card-body">
                                         <div class="card-header"><h2>Ajouter une figure</h2></div>
                        <p class="card-text">
                        {{ form_start(form) }}

                         <div class="form-group row text-center">
                                <label for="{{ form.name.vars.id }}" class="col-sm-4 col-form-label required">{{ form.name.vars.label }}</label>
                                <div class="col-sm-8">
                                    {{ form_errors(form.name) }}
                                    <input type="text" id="{{ form.name.vars.id }}" name="{{ form.name.vars.full_name }}" value="{{ form.name.vars.value }}" required="{{ form.name.vars.required }}" class="form-control">
                                </div>
                         </div>

                         <div class="form-group row">
                                <label for="{{ form.description.vars.id }}" class="col-sm-4 col-form-label">{{ form.description.vars.label }}</label>
                                <div class="col-sm-8">
                                    {{ form_errors(form.description) }}
                                    <textarea class="form-control" id="{{ form.description.vars.id }}" name="{{ form.description.vars.full_name }}" required="{{ form.description.vars.required }}">{{ form.description.vars.value }}</textarea>
                                </div>
                            </div>

                         <div class="form-group row">
                                <label for="{{ form.category.vars.id }}" class="col-sm-4 col-form-label">{{ form.category.vars.label }}</label>
                                <div class="col-sm-8">
                                    {{ form_widget(form.category) }}
                                </div>
                                <br />
                            </div>

                        {{ form_row(form.category) }}

                        <hr />

                        <div class="form-group row">
                        <br />
                                <label for="picture1" class="col-sm-4 col-form-label">Images :<br />
                                    <span class="btn btn-info add_picture_link" id="addPictureUpload" title="Ajouter une image"><i class="fas fa-camera-retro"></i></span>
                                </label>
                                <div class="col-sm-8" id="trickPictures" data-prototype="<div class='row align-items-center'><div class='col-sm-10'>{{ form_widget(form.pictures.vars.prototype)|e('html_attr') }}</div><div class='col-sm-2 form-group deletePicture'><span><i class='fas fa-trash-alt'></i></span></div></div>">
                                    {% for picture in form.pictures %}
                                        <div class='row align-items-center'>
                                        {{ form_errors(picture) }}
                                        <div class='col-sm-10'>{{ form_widget(picture) }}</div>
                                        <div class='col-sm-2 form-group deletePicture'><span><i class='fas fa-trash-alt'></i></span></div>
                                        </div>
                                        <hr />
                                    {% endfor %}
                                </div>
                        </div>

                        <hr />

                        <div class="form-group row">
                        <br />
                                <label for="video1" class="col-sm-4 col-form-label">Vidéos :<br />
                                    <span class="btn btn-info add_video_link" id="addVideoUpload" title="Ajouter une vidéo"><i class="fas fa-video"></i></span>
                                </label>
                                <div class="col-sm-8" id="trickVideos" data-prototype="<div class='row align-items-center'><div class='col-sm-10'>{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}</div><div class='col-sm-2 form-group deleteVideo'><span><i class='fas fa-trash-alt'></i></span></div></div>">


                                    {% for video in form.videos %}
                                        <div class='row align-items-center'>
                                        {{ form_errors(video) }}
                                        <div class='col-sm-10'>{{ form_widget(video) }}</div>
                                        <div class='col-sm-2 form-group deleteVideo'><span><i class='fas fa-trash-alt'></i></span></div>
                                        </div>
                                    {% endfor %}
                                </div>
                        </div>

                         <div class="form-group row justify-content-center formErrorMessage">
                                <span>{{ form_errors(form.videos) }}</span>
                                <span>{{ form_errors(form.pictures) }}</span>
                                <span>{{ form_errors(form) }}</span>
                         </div>

                            <div class="form-group row justify-content-center">
                                <div class="col-sm-10 ">
                                    <button id="sumbitButtonAddTrick" type="submit" class="btn btn-info btn-circle"><i class="fas fa-check fa-2x"></i></button>
                                </div>
                            </div>
                            {{ form_widget(form._token) }}

                            {% do form.pictures.setRendered %}
                            {% do form.videos.setRendered %}
                            {% do form.name.setRendered %}
                            {% do form.description.setRendered %}

                        {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/addUploadField.js') }}"></script>
{%  endblock %}