{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }} : modifications{% endblock %}

{% block body %}

    {{ parent() }}

    <!-- modal pour affichage du message de confirmation suppression image  -->
    <div class="modal fade" id="pictureDeletedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    Image correctement supprimée !
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal pour affichage du message de confirmation suppression vidéo  -->
    <div class="modal fade" id="videoDeletedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    Vidéo correctement supprimée !
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>


    <div class="row no-gutters justify-content-center" style="background-image:url('{{ asset('images/cover.jpg') }}')">
        <div id="trickDetails" class="row col-md-8 justify-content-center" data-defaultcover="{{ asset('images/default_cover.jpg') }}">
            <div class="card rounded">

                {{ form_start(form) }}

                {% if is_granted('ROLE_USER') %} <!-- on affiche les liens edit/suppression seulement si on est connecté -->
                    <div class="card-img-overlay" id="editDeleteLinks">
                        {%  if ((trick.pictures | length) != 0) %}<h5 class="card-title text-right" data-idtodelete="{%  for picture in trick.pictures %}{% if loop.first %}{{ picture.id }}{%  endif %}{% endfor %}" data-input="<div class='row align-items-center justify-content-center'><b>Veuillez sélectionner une nouvelle image de couverture.<br />A défaut, l'image affichée actuellement sera conservée.</b><div class='col-sm-8'><br />{{ form_widget(form.pictures[0])|e('html_attr') }}</div></div>" data-alt="{%  for picture in trick.pictures %}{% if loop.first %}{{ picture.alt }}{%  endif %}{% endfor %}"><a id="coverTrickEdit" title="Modifier l'image de couverture"><i class="btn btn-info fas fa-pen-fancy"></i></a> <a id="coverTrickDelete" title="Supprimer l'image de couverture"><i class="btn btn-info fas fa-trash-alt"></i></a></h5>{% endif %}
                    </div>
                {% endif %}

                <!-- si on a aucune image associée à la figure alors on affiche l'image par défault, sinon on affiche la première image enregistrée en bdd pour ce trick -->
                <img src="
                {% if ((trick.pictures | length) == 0) %} {{ asset('images/default_cover.jpg') }}
                {% else %} {%  for picture in trick.pictures %} {% if loop.first %}{{ asset(picture.path) }}{%  endif %} {% endfor %}
                {% endif %}
                " class="card-img-top-trickCover border-bottom border-dark" alt="{{ trick.name }}">

                <div class="card-body">
                    {% if error %}
                        <div class="form-group row formErrorMessage justify-content-center align-items-center text-center">{{ error }}</div>
                    {% endif %}

                    <!-- Bloc des images/vidéos affichage écran standard-->
                    <div id="trickMediaEditBlock" class="trickMediaEditBlock" data-nbpictures="{{ trick.pictures | length }}" data-nbvideos="{{ trick.videos | length }}">
                        <div class="row justify-content-left align-items-center">
                                {% if ((trick.pictures | length) > 0) %}
                                    {%  for picture in trick.pictures %}
                                        <div class="col-lg-2 card rounded text-center">
                                            <!-- si on a aucune image associée à la figure alors on affiche l'image par défault, sinon on affiche la première image enregistrée en bdd pour ce trick -->
                                            <a href="{{ asset(picture.path) }}" title="Agrandir l'image"><img src="{{ asset(picture.path) }}" class="card-img-top" alt="{{ trick.name }}"></a>
                                            <br/>{% if loop.first %}<span>A la une</span>{% else %}<span data-idtodelete="{{ picture.id }}" data-input="<div class='row align-items-center'><div class='col-sm-10'>{{ form_widget(form.pictures[loop.index0])|e('html_attr') }}</div> <div class='col-sm-2 form-group deletePicture'><span><i class='fas fa-trash-alt'></i></span></div></div>" data-alt="{{ picture.alt }}"><a class="trickPictureEdit" title="Remplacer cette image" id="{{ picture.id }}"><i class="fas fa-pen-fancy"></i></a> | <a class="trickPictureDelete" title="Supprimer cette image" data-pictureid="{{ picture.id }}"><i class="fas fa-trash-alt"></i></a></span>{% endif %}
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                {% if ((trick.videos | length) > 0) %}
                                    {%  for video in trick.videos %}
                                        <div class="col-lg-2 card h-100 rounded text-center">
                                            <!-- si on a aucune image associée à la figure alors on affiche l'image par défault, sinon on affiche la première image enregistrée en bdd pour ce trick -->
                                            <embed src="{{ asset(video.url) }}" class="card-img-top" alt="{{ trick.name }}">
                                            <br/><span data-videoid="{{ video.id }}" data-videourl="{{ video.url }}" data-input="<div class='row align-items-center'><div class='col-sm-10'>{{ form_widget(form.videos[loop.index0])|e('html_attr') }}</div> <div class='col-sm-2 form-group deletePicture'><span><i class='fas fa-trash-alt'></i></span></div></div>"><a class="trickVideoEdit" title="Remplacer cette vidéo" id="{{ video.id }}"><i class="fas fa-pen-fancy"></i></a> | <a class="trickVideoDelete" title="Supprimer cette vidéo"><i class="fas fa-trash-alt"></i></a></span>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                            <div class="col-lg-2 card rounded text-center">
                                <!-- si on a aucune image associée à la figure alors on affiche l'image par défault, sinon on affiche la première image enregistrée en bdd pour ce trick -->
                                <span>Ajouter un média :<br /> <span class="btn btn-info add_picture_link" id="addPictureUpload"><a title="Ajouter une image"><i class="fas fa-camera-retro fa-2x"></i></a></span>    <span class="btn btn-info add_video_link" id="addVideoUpload"><a title="Ajouter une vidéo"><i class="fas fa-video fa-2x"></i></a></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center d-lg-none"><span class="btn btn-info" id="showMediasLink" data-from="edit">Voir les médias</span></div>
                    <div class="row justify-content-center align-items-center d-lg-none"><span class="btn btn-info" id="hideMediasLink" data-from="edit" style="display:none;">Cacher les médias</span></div>

                    <hr>
                    <div class="row justify-content-center text-center">
                        <div class="col-md-3"><b>Détails : </b></div>
                        <div class="col-md-3"><b>{{ trick.authorName.username }}</b></div>
                        <div class="col-md-3"><b>Publiée le : {{ trick.publishedAt|date('d-m-Y H:i') }}</b></div>
                        <div class="col-md-3"><b>Modifiée le : {{ trick.updatedAt|date('d-m-Y H:i') }}</b></div>
                    </div>
                    <hr><br />

                    <div class="form-group row text-center">
                        <label for="picture1" class="col-sm-4 col-form-label">Images :</label>
                        <div class="col-sm-8" id="trickPictures" data-prototype="<div class='row align-items-center'><div class='col-sm-10'>{{ form_widget(form.pictures.vars.prototype)|e('html_attr') }}</div><div class='col-sm-2 form-group deletePicture'><span><i class='fas fa-trash-alt'></i></span></div></div>">

                        </div>
                    </div>

                    <hr />

                    <div class="form-group row text-center">
                        <label for="video1" class="col-sm-4 col-form-label">Vidéos :</label>
                        <div class="col-sm-8" id="trickVideos" data-prototype="<div class='row align-items-center'><div class='col-sm-10'>{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}</div><div class='col-sm-2 form-group deleteVideo'><span><i class='fas fa-trash-alt'></i></span></div></div>">

                        </div>
                    </div>

                    <div class="form-group row justify-content-center formErrorMessage">
                        <span>{{ form_errors(form.videos) }}</span>
                        <span>{{ form_errors(form.pictures) }}</span>
                        <span>{{ form_errors(form) }}</span>
                    </div>

                    <hr />
                    <div class="justify-content-center text-center">

                        <div class="form-group row text-center">
                            <label for="{{ form.name.vars.id }}" class="col-sm-4 col-form-label required">{{ form.name.vars.label }}</label>
                            <div class="col-sm-8">
                                {{ form_errors(form.name) }}
                                <input type="text" id="{{ form.name.vars.id }}" name="{{ form.name.vars.full_name }}" value="{{ form.name.vars.value }}" required="{{ form.name.vars.required }}" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="{{ form.description.vars.id }}" class="col-sm-4 col-form-label">{{ form.description.vars.label }}</label>
                            <div class="col-sm-8">
                                {{ form_errors(form.description) }}
                                <textarea class="form-control" id="{{ form.description.vars.id }}" name="{{ form.description.vars.full_name }}" required="{{ form.description.vars.required }}" rows="6">{{ form.description.vars.value }}</textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="{{ form.category.vars.id }}" class="col-sm-4 col-form-label">{{ form.category.vars.label }}</label>
                            <div class="col-sm-8">
                                {{ form_widget(form.category) }}
                            </div>
                            <br />
                        </div>

                        {{ form_row(form.category) }}

                            <div class="form-group row justify-content-center text-center">
                                <button id="sumbitButtonAddTrick" type="submit" class="btn btn-info btn-circle"><i class="fas fa-check fa-2x"></i></button>
                                <a data-toggle="modal" data-target="#deleteConfirmModal" data-deletepath="{{ path('trick_delete', {'trickId': trick.id}) }}" href="" title="Supprimer la figure"><button class="btn btn-danger btn-circle"><i class="fas fa-trash-alt"></i></button></a>
                            </div>

                        {{ form_widget(form._token) }}

                        {% do form.pictures.setRendered %}
                        {% do form.videos.setRendered %}
                        {% do form.name.setRendered %}
                        {% do form.description.setRendered %}

                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/addUploadField.js') }}"></script>
    <script src="{{ asset('js/editMedias.js') }}"></script>
{%  endblock %}